<!--<ul>-->
  <!--<li-->
  <!--*ngFor="let pais of paises"-->
  <!--&gt;-->
    <!--{{pais.name}} - {{pais.population | number}}-->
  <!--</li>-->
<!--</ul>-->
<!--<div class="card-columns">-->
  <!--<div *ngFor="let cancion of nuevasCanciones">-->
    <!--<div class="card">-->
      <!--<img class="card-img-top" [src]="cancion.images | noimage" [alt]="cancion.name">-->
      <!--<div class="card-body">-->
        <!--<h5 class="card-title">{{cancion.name}}</h5>-->
        <!--<p class="card-text">-->
          <!--<span *ngFor=" let artista of cancion.artists"-->
            <!--class="badge badge-primary">{{artista.name}}</span>-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<app-loading *ngIf="loading"></app-loading>
<div class="alert alert-danger animated fadeIn" *ngIf="error">
  <p>
    {{error}}
  </p>
</div>
<app-cards [canciones]="nuevasCanciones"></app-cards>
