
<app-loading *ngIf="loading_artist"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading_artist">
  <div class="col-2">
    <img [src]="artista.images | noimage" [alt]="artista.name" class="img-circle img-thumbnail">
  </div>
  <div class="col">
   <h3> {{artista.name}} </h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">Ver ficha personal</a>
    </p>
  </div>
  <div class="col-4">
    <button routerLink="home" class="btn btn-outline-danger">Regresar</button>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th>Foto</th>
        <th>Album</th>
        <th>Canción</th>
        <th>Vista Previa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of topTracks;let i of index">
        <td><img [src]="track.album.images | noimage" class="img-thumb" alt=""></td>
        <td>{{track.album.name}}</td>
        <td>{{track.name}}</td>
        <td>
          <audio [src]="track.preview_url" controls></audio></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
