 "styles": [
              "src/assets/css/bootstrap411.min.css",
              "src/assets/css/bootstrap.min.css",
              "src/assets/css/dataTables.bootstrap4.css",
              "src/assets/css/sb-admin.css",
              "src/styles.css"
            ],
            "scripts":[
              "src/assets/js/jquery.min.js",
              "src/assets/js/bootstrap.bundle.min.js",
              "src/assets/js/jquery.easing.min.js",
              "src/assets/js/jquery.dataTables.js",
              "src/assets/js/dataTables.bootstrap4.js",
              "src/assets/js/sb-admin.min.js",
              "src/assets/js/popper.min.js",
              "src/assets/js/jquery-3.3.1.slim.min.js",
              "src/assets/js/bootstrap.min.js"


              <div class="form-row">
            <div class="form-group col-md-6">
              <label for="numeroParte">PartNumber</label>
              <input type="text" class="form-control" id="numeroParte" placeholder="PartNumber" name="numeroParte">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDescripcion">Descripción</label>
              <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectFabricante">Fabricante</label>
              <select id="selectFabricante" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCodigoFabricante">PartNumber Fabricante</label>
              <input type="text" class="form-control" id="inputCodigoFabricante" placeholder="PartNumber Fabricante">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectGrupo">Grupo</label>
              <select id="selectGrupo" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectSubGrupo">Sub-Grupo</label>
              <select id="selectSubGrupo" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>