<div class="row">
  <div class="col">
    <input type="text" (keyup)="buscar(searchCancionField.value)" class="form-control"
    placeholder="Buscar Artista" onsubmit="false" #searchCancionField>
  </div>
</div>
<app-loading *ngIf="loading && searchCancionField.value.length > 0" class="m-5"></app-loading>
<app-cards [canciones]="artistasEncontrados"></app-cards>

<!--<div class="card-columns m-5">-->
  <!--<div *ngFor="let artista of artistasEncontrados">-->
    <!--<div class="card">-->
      <!--<img class="card-img-top" [src]="artista.images | noimage" [alt]="artista.name">-->
      <!--<div class="card-body">-->
        <!--<h5 class="card-title">{{artista.name}}</h5>-->
        <!--<p class="card-text"></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
