<div class="card-columns m-5 animated fadeIn">
  <div (click)="verArtista(cancion)" *ngFor="let cancion of canciones">
    <div class="card puntero">
      <img class="card-img-top" [src]="cancion.images | noimage" [alt]="cancion.name">
      <div class="card-body">
        <h5 class="card-title">{{cancion.name}}</h5>
        <p class="card-text">
          <span *ngFor=" let artista of cancion.artists"
                class="badge badge-primary">{{artista.name}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
